<div id="<%= dom_id bookshelf %>" class="bookshelf-card">
  <p class="bookshelf-field bookshelf-title">
    <strong>Title:</strong>
    <span class="bookshelf-value"><%= bookshelf.title %></span>
  </p>

  <p class="bookshelf-field bookshelf-author">
    <strong>Author:</strong>
    <span class="bookshelf-value"><%= bookshelf.author %></span>
  </p>

  <p class="bookshelf-field bookshelf-description">
    <strong>Description:</strong>
    <span class="bookshelf-value"><%= bookshelf.description %></span>
  </p>
</div>
